/* container */
.container {width: 1000px; margin: 0 auto;}

/* row */
.row {position: relative; margin: 0 20px;}

/* header */
#header .header-date {
  font-weight: 600;
  font-size: 12px;
  padding-top: 30px;
  display: block;
  color: #a8a8a8;
}
#header .header-title {
  font-weight: bold;
  font-size: 32px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
#header .header-id {
  position: absolute; right: 0; bottom: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-image: linear-gradient(149deg, #a4a9b5 10%, rgba(164, 169, 181, 0.47) 51%, rgba(164, 169, 181, 0) 85%, rgba(164, 169, 181, 0) 85%), linear-gradient(to bottom, #c4c4c4, #c4c4c4);
}

/* bestM */
.bestM .best-title .bt-stit {
  font-size: 12px;
  line-height: 1.67;
  color: #ea0b7c;
  font-weight: 600;
}
.bestM .best-title .bt-tit {
  font-size: 19px;
  line-height: 1.05;
  padding-bottom: 5px;
}
.bestM .best-title .bt-desc {
  font-size: 22px;
  font-weight: 300;
  line-height: 0.91;
  color: #818181;
  margin-bottom: 10px;
}

/* recentM */
.recentM {padding: 10px 0; margin-top: 19px; overflow: hidden;}
.recentM .recent {float: left; width: 49%; margin-right: 2%;}
.recentM .recent:last-child {margin-right: 0;}
.recentM h2 {font-size: 16px;
  font-weight: 600; margin-bottom: 12px; margin-top: 16px; padding-top: 20px; border-top: 1px solid #ebebeb;}
.recentM .recent-title .rt-stit {
  font-size: 13px; line-height: 1.9;
}
.recentM .recent-title .rt-tit {
  color: #908f94; font-size: 13px; font-weight: 500;
}

/* nextM */
.nextM h2 {font-size: 16px;
  font-weight: 600; margin-bottom: 12px; margin-top: 16px; padding-top: 20px; border-top: 1px solid #ebebeb;}  
.nextM .next {display: flex; margin-bottom: 16px; position: relative;}
.nextM .next::after {
  content: ''; 
  position: absolute; right: 0; bottom: -8px;
  width: calc(100% - 90px);
  height: 1px;
  background: #ebebeb;
}
.nextM .next .next-img {width: 78px; margin-right: 12px;}
.nextM .next .next-tit {display: flex; flex-direction: column; justify-content: center;}
.nextM .next .next-tit .nt-stit {color: #da5e7c; font-size: 12px; line-height: 1.67;}
.nextM .next .next-tit .nt-tit {font-size: 15px;}
.nextM .next .next-tit .nt-desc {
  color: #a1a1a3; font-size: 10px; line-height: 1.3; font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* mediaquery */
@media (max-width: 1020px) {
  .container {width: 100%;}
}